* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
    min-height: 100vh;
  }
  
  .wrapper {
    position: relative;
    width: 360px;
    height: 100px;
    background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
    border-radius: 10px;
    cursor: default;
    animation: animate 2s linear infinite;
  }
  
  .wrapper .display {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 345px;
    height: 85px;
    text-align: center;
    background: #1b1b1b;
    border-radius: 8px;
    z-index: 100;
  }
  
  .wrapper .display #time {
    line-height: 85px;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 2s linear infinite;
  }
  
  .wrapper span {
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: 10px;
  }
  
  .wrapper span:first-child {
    filter: blur(10px);
  }
  
  .wrapper span:last-child {
    filter: blur(20px);
  }
  
  @keyframes animate {
    100% {
      filter: hue-rotate(360deg);
    }
  }  